<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <h3>Your Orders</h3>
            <div *ngIf="orders.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Total Quantity</th>
                        <th width="10%">Date</th>
                    </tr>
                    <tr *ngFor="let order of orders">
                        <td>{{order.orderTrackingNumber}}</td>
                        <td>{{order.totalPrice | currency:'USD'}}</td>
                        <td>{{order.totalQuantity}}</td>
                        <td>{{order.dateCreated | date:'medium'}}</td>

                    </tr>

                </table>
            </div>

            <div *ngIf="orders.length == 0 " class="alert alert-warning col-md-12" role="alert">No orders found</div>
        </div>
    </div>
</div>