<div class="main-content">
    <div align="center" class="alert alert-warning col-md-12" role="alert">
        <h3>Members Special</h3>
        <p>Discounts will be available soon</p>

    </div>

</div>
