<div class="form-header" >

<input 
#userInput
(keyup.enter)="onSearchButton(userInput.value)"
class="au-input au-input-xl" 
type="text" 
placeholder="Search for products ..." />

<button 
class="au-btn-submit" 
(click)="onSearchButton(userInput.value)">
  Search
</button>

</div>
